.app-loader {
  position: absolute;
  top: 0;

  height: 100%;
  width: 100%;
  background-color: #00000044;

  mat-spinner, h2 {
    position: absolute;
    top: 40%;
    left: 38%;
  }

  h2 {
    color: #ffffff;
    top: 55%;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  }
}
