<div class="app-support">
  <button mat-icon-button color="primary" (click)="askForNewFeature()">
    <mat-icon>add_task</mat-icon>
    Ask for a new feature
  </button>

  <button mat-icon-button color="primary" (click)="goToFeatureList()">
    <mat-icon>format_list_numbered</mat-icon>
    View feature requests
  </button>

  <button mat-icon-button color="primary" (click)="askAQuestion()">
    <mat-icon>contact_support</mat-icon>
    Ask a question
  </button>

  <button mat-icon-button color="primary" (click)="goToQuestionList()">
    <mat-icon>question_answer</mat-icon>
    View all questions
  </button>
</div>
