<div class="learning-games-wrapper">
  <ng-container *ngIf="selectedWords.length then words; else notFound"></ng-container>
</div>

<app-loader *ngIf="isLoading"></app-loader>

<ng-template #words>
  <!-- <button
    *ngFor="let word of selectedWords"
    mat-raised-button
    color="primary"
    [ngClass]="{ 'requesting-for-details': translationNeededWords.includes(word) }"
    (click)="openBottomSheet(word)">
    {{ word }}
  </button> -->
</ng-template>

<ng-template #notFound>
  <app-new-words-navigation
    [navigateTo]="routesEnum.selectNew">
  </app-new-words-navigation>
</ng-template>
