<mat-accordion>
  <mat-expansion-panel
    *ngFor="let item of utilsService.getKeys(translations)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ item }} ({{ translations[item].length}})
      </mat-panel-title>
      <mat-panel-description>
        {{ typesEnum[item] }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-container *ngFor="let info of translations[item]; let index = index;">
      <p class="explanation">{{ info }}</p>
      <mat-divider *ngIf="index < translations[item].length - 1"></mat-divider>
    </ng-container>
    
  </mat-expansion-panel>
</mat-accordion>
